/*메인페이지 전용*/
@charset "utf-8";
@import url("common.css");
.swiper-slide figure{
	position: relative;
	width: 70%;
	height: 550px;
	padding: 30px;
}
.eventlink{
	text-align: center;
	position: absolute;
	background-color: white;
	bottom: 50%; right: 10%;
	padding: 10px;
	border: 5px solid orangered;
}
.product{
	padding: 30px 0;
}
.product h3{
	font-size: 30px;
	text-align: center;
	padding: 20px 0;
}
.product ul{
	margin-bottom: 30px;
	display: flex;
   	flex-wrap: wrap;
}
.product ul li{
	border: 5px solid white;
	width: 25%;
	padding: 20px;
}
.product ul li:hover{
	border: 5px solid orangered;
}